.signUp {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;

  &__container {
    background-color: $ivory;
    width: 350px;
    padding: 40px;

    &__title {
      font-size: 32px;
      margin-bottom: 20px;
      color: $artichoke;
    }

    &__form {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      width: 80%;

      :not(:last-child) {
        margin-bottom: 15px;
      }

      &__username,
      &__email,
      &__password,
      &__confirmPassword {
        height: 26px;
        border: none;
        border-bottom: 1px solid #888;
        padding: 0 5px;
      }

      &__submit {
        cursor: pointer;
        border: none;
        background-color: $artichoke;
        height: 32px;
        width: 100px;
        color: $ivory;
      }
    }

    &__link {
      cursor: pointer;
      display: inline-block;

      &:hover {
        text-decoration: underline $artichoke;
      }
    }
  }
}
